@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title</h2>
<br />
<h6>TL;DR: I spent way too long figuring out what I want to do with my life, but I'm glad I settled on coding.</h6>
<hr />


<p>Looking at my education and career history, I should be the poster child of indecision. I remember when I was young and addicted to 
    Animal Planet (namely Steve Irwin and Jeff Corwin) I swore I would grow up to be a herpetologist (that's a reptile scientist and yes,
    I was using that term when I was about 8). I kept that dream until high school where I then decided that I actually wanted to be a writer.
    Writing is hard to get into tho, so I decided to go with my backup career, acting. I know, acting is just as hard to get into, but my logic
    was that I could at least go to college for theatre and make connections. So off I went to Pennsylvania. Arcadia University to be exact (because
    it had a castle, no joke). It didn't take me too long to realize that theatre kids are jerks and I really wasn't cut out for the whole auditioning
    and getting rejected over and over. So I transferred back home.</p>
<p>UNCG was great, I wasn't amassing debt (on top of the ridiculous amount that came with my castle school of course) and I got to take classes with
    some of my old friends from high school. Now, I did initially transfer into the theatre program, simply because I had taken a year and a half worth
    of classes, I might as well just get a degree. That didn't go over well seeing as how only one theatre class actually transferred. So I said screw
    it, I'll go back to the writing thing and just major in English, no problem. And that should have been it, right? Of course not.</p>
<p>Back at castle school, I had placed out of the foreign language requirement since I had taken French in high school and was quite good. Background: I
    was actually in a Spanish Immersion Elementary school and had been fluent in Spanish back in the day, but when middle school rolled around, I switched
    to French so I didn't relearn a language from scratch and bore myself to death. So naturally, I took to French pretty quickly, being already fluent
    in Spanish. Ok, back to present: UNCG required me to take one more class. I guess I was rusty from not using French for a year and a half so I didn't
    completely place out. Well I took my one French class and fell back in love with the language. With my background, I have a special place in my
    heart for languages.</p>
<p>Would you believe I switched my major again to French? Of course I did. French classes were way more fun than English classes and I got to study abroad
    in France and get my major pretty much done with in just that one semester. I didn't even waste my English classes since I had enough for a minor.
    Of course now you're wondering what I could possibly do with a degree in French. Teach? Not really. I didn't have a degree in education and lateral
    entry for teaching is not very straight forward.</p>
<p>So what was my next career option? I bet you didn't guess the answer would be teaching English in South Korea. Pretty random, I know. I got the idea
    from my best friend who was pretty obsessed with all things Korea and I was to a degree simply from being best friends. It was going to be great,
    we would go together and even if we weren't in the same city, the fact that we were both in Korea would be a big comfort. Did it happen? You would be
    correct if you guessed no. It was a dream, but life happened. I didn't get accepted to teach at public schools because of my tattoos and as I was in
    the process of applying to private schools, I met the love of my life (I am very much a sap, deal with it). So instead of ending a good relationship
    just as it was starting, I stayed stateside and took a full-time position as a customer service clerk at the Harris Teeter I was working at. I know,
    I was so living the dream. Not.</p>
<p>It was ok for a bit, I learned accounting and became the store accountant at a different store. I felt like I was moving up in the world. And as
    someone who had never had a "real" job, I felt like I was making decent money. That is until I moved out with my boyfriend and he got laid off.
    Then the panic set in. How was I supposed to pay for all this while he found a job? Even when he did, could I buy things I wanted or just what I
    needed? I thought about trying to move up further within Harris Teeter, but I really had reached the end of my climb. I applied to all kinds of places,
    but I had no experience in anything but grocery and I was desperate to get out of that career path. It all came to a head when management changed
    and my new supervisor and I butted heads. I was unhappy without anywhere to go.</p>
<p>It was my dad that found a way out. He had seen a segment on the local news about Coder Foundry and knew one of the girls that was in the video. So
    he suggested I go to the informational meeting and it just seeemed meant to be. I was finally getting a stroke of luck in my long and steep spiral
    of bad choices and missed opportunities. I had been contemplating going back to school, but the whole idea of several years of studying really put
    a damper on that. So a bootcamp sounded perfect. In and out and at a job by the end of the year? Sign me up. So here I am, trying to not drag another
    opportunity through the mud.</p>
